<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Ejs</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="main-bg-acc">
        <div class="wrapper-acc">
            <div class="acc-nav nav">
                <div class="left-nav-wrapper">
                    <div class="left-nav">
                        <span>Logo</span>
                        <a href="/">HOME</a>
                    </div>
                </div>
                <div class="mid-nav-wrapper">
                    <div class="mid-nav">
                        <img src="/img/logout.png" class="log-out-icon" width="20px" onclick="logout()" style="cursor: pointer;">
                        <a href="/deleteaccount"><img src="/img/remove-account.png" class="delete-acc-icon" width="20px" onclick="delaccount()"></a>
                        <a href="/dev"><img src="/img/add.png" class="add-post-icon" width="20px"></a>
                        <a href="/findfriend"><img src="/img/search.png" class="search-icon" width="20px"></a>
                    </div>
                </div>
                <div class="right-nav-wrapper ">
                    <div class="right-nav">
                        <img src="/img/user.png" alt="" srcset="" width="20px">
                        <span id="username">
                            <%= usrname %>
                        </span>
                        <img src="/img/coin.png" alt="" srcset="" width="20px">
                        <span id="coins">
                            <%= usrcoin %>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="create-post">

        </div>
        <div class="view-post">
            <% if(posts.length >=1){ %>
            <ul id="list_view">
            
                <% for (var i=0 ; i < posts.length ; i++){ %>
                    <li>
                        <div class="card">
                            <h3>
                                <%= posts[i].title %>
                            </h3>
                        </div>

                        <p>
                            <%= posts[i].content %>
                        </p>
                        <img src=" <%= posts[i].url %>" alt="" srcset="" width="100%" height="500px">
                        <div class="comment-post">
                            <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                            <form method="post" class="comment-post-form" id="comment-post" action="/api/comment"
                                target="dummyframe">
                                <input type="text" id="postusername" name="username" style="display:none;"
                                    value="<%= usrname %>">
                                <input type="text" id="postid" name="postid" style="display:none;"
                                    value="<%= posts[i]._id %>">
                                <input type="text" id="comment" name="comment" required>
                                <button type="submit" onclick="addcomment('<%= i %>')">+</button>
                            </form>


                            <ul style="padding: 10px 0px;" class="comment-box" id="posts-cards">
                                <% const vals=posts[i].comment %>
                                    <% vals.forEach(function(single){ %>
                                        <li style="padding: 5px 10px; margin-bottom: 5px;">
                                            <%= single %>
                                        </li>
                                        <% }) %>
                            </ul>
                        </div>
                    </li>
                    <% } %>
                </ul>
            <% } else {%>
                <div class="no-post">
                    OHHH HOOOO 🥲, Looks like there are no posts
                    try creating one <a href="/dev">Click_ME 👈</a> to create post
                </div>
            <% } %>
        </div>
    </div>


    <script>

        function logout() {
            localStorage.removeItem('User');
            localStorage.removeItem('token');
            alert("You are now logged out");
            location.href = "/";
        }

        function addcomment(n) {
            const query = document.querySelectorAll("#posts-cards");
            const comment = document.querySelectorAll("#comment");
            const ans = query[n];
            const val = comment[n].value;
            ans.innerHTML += `<li style="padding: 5px 10px;"> ${val} </li> `;
        }

    </script>

</body>

</html>